@font-face { font-family: Ailerons-Regular; src: url('../Fonts/Ailerons-Regular.otf'); }
.about
{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background-color: rgba(169, 169, 169, 0);
}

.container
{
    background: url("../Images/hashtag_generator_background.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    margin: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    overflow-y: scroll;
}

.about #links a 
{
    font-family: Ailerons-Regular;
    font-size: 15px;
    text-decoration:none;
    color: white;
}

/* use this if you want the header to scroll down the page as you scroll */
/* #header
{
    position:fixed;
    width: 100%;
} */

/* put all of the links in the top right hand corner adjacent to
one another */
.about #links #hobbies
{
    position: absolute;
    top: 45px;
    right: 250px;
}
.about #links #contact
{
    position: absolute;
    top: 45px;
    right: 70px;
}
.about #links #portfolio
{
    position: absolute;
    top: 45px;
    right: 150px;
}

/* .about #links #hashtag_project
{
    position: absolute;
    top: 45px;
    right: 250px;
} */

.about .AboutTitle a
{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 30px;
    font-family: Ailerons-Regular;
    font-size: 30px;
    text-decoration:none;
    color: white;  
    letter-spacing: 1.5x;
}

.body-main {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 60%;
    padding-top: 150px; 
}


.column {
    width: 45%;
    text-align: left;
    margin: 1%;
    float: left;
}

#left {
    background-color: rgba(255, 255, 239, 0.541);
    padding: 1%;
    border-radius: 10px;
}

#p-link {
    text-decoration: none;
    color: darkslategrey;
}

#p-link:hover {
    text-decoration: underline;
}

#footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}


#arrow 
{
    position: relative;
    top: -50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
} 

/*hover affects for the header */
#header:hover
{
    position:absolute;
    top:0;
    left:0;
    height: 100px;
    width: 100%;
    margin-top: 0px;
    border:0;
    transition-duration:0.2s;
    background-color: rgba(255, 255, 255, 0.445);
    transition-timing-function: ease-in;
    /* position: fixed; */
    /* put the position as fixed if you want the header to scroll
    down the page as you scroll */
}
/* not sure why this has to be separate from the other hover
this changes the color of the links*/
#header:hover>.AboutTitle #name 
{
    color:black;
}
#header:hover>#links a
{
    color:black;
}

/* #hobbies:hover {
    text-decoration: underline;
} */

