@font-face { font-family: Ailerons-Regular; src: url('../Fonts/Ailerons-Regular.otf'); }
.art
{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background-color: rgba(169, 169, 169, 0);
    background: url("../Images/portfolio_background.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

#arrow 
{
    position: relative;
    top: -50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
} 

/*hover affects for the header */
#header:hover
{
    position:absolute;
    top:0;
    left:0;
    height: 100px;
    width: 100%;
    margin-top: 0px;
    border:0;
    transition-duration:0.2s;
    background-color: rgba(255, 255, 255, 0.445);
    transition-timing-function: ease-in;
    /* position: fixed; */
    /* put the position as fixed if you want the header to scroll
    down the page as you scroll */
}
/* not sure why this has to be separate from the other hover
this changes the color of the links*/
#header:hover>.ArtworkTitle #name 
{
    color:black;
}
#header:hover>#navbarResponsive a
{
    color:black;
}

.container
{
    
    position: absolute;
    margin: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    overflow-y: scroll;
    margin-bottom: 50px;
}

.art .ArtworkTitle a
{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 30px;
    font-family: Ailerons-Regular;
    font-size: 30px;
    text-decoration:none;
    color: white;  
    letter-spacing: 1.5x;
}

.art #navbarResponsive a 
{
    font-family: Ailerons-Regular;
    font-size: 15px;
    text-decoration:none;
    color: white;

}

/* use this if you want the header to scroll down the page as you scroll */
/* #header
{
    position:fixed;
    width: 100%;
} */

/* put all of the links in the top right hand corner adjacent to
one another */
#hobbies
{
    position: absolute;
    top: 45px;
    right: 250px;
}
#contact
{
    position: absolute;
    top: 45px;
    right: 70px;
}
#portfolio
{
    position: absolute;
    top: 45px;
    right: 150px;
}

#artwork
{
    position: absolute;
    top: 45px;
    right: 340px;
}

/* .portfolio #links #hashtag_project
{
    position: absolute;
    top: 45px;
    right: 250px;
} */



.body-main {
    padding-bottom: 250px;
    width: 90%;
    margin-top: 120px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* display: flex;
    align-content:center; */
}

.box {
    width: 25%;
    background:rgba(245, 245, 245, 0.466);
    position: relative;
    float: left;
    padding: 20px;
    min-width: 200px;
    border-radius: 8px;
    overflow: hidden;
    

   
}

.innerContent {
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    color: black;
}

img {
    width: 100%;
    height: 100%;
}

#p-bold {
    color: gold;
}

#p-link {
    color: gold;
    text-decoration: None;
}

#p-link:hover {
    text-decoration: underline;
}

#footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: rgba(245, 245, 245, 0.562);
}



